<th:block>
    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Your apartment design begins from here.</h1>
                <p>Design your apartment to look perfect</p>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Apartment & design</h2>
                        <p>Apartment and design is an online magazine that tries to unite all those orbiting in the Apartment Art and Design sphere. Our focus is to find the best practices for your apartment look</p>
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="/img/apartmenthome.jpg" alt="" >
                    </div>
                </div>
            </div>
        </section>

        <section class="site-section section-services high-gray-bg text-center">
            <div class="container">
                <h2 class="heading-separator">Our Services</h2>
                <p class="subheading-text">We offer more than apartment design</p>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="/img/bycicle.svg" alt="">
                            <h3 class="service-title">Design</h3>
                            <p class="service-info">The strength of a design lies as much in the steps taken to create it as in the final result. </p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="/img/paper-plane.svg" alt="">
                            <h3 class="service-title">Development</h3>
                            <p class="service-info">Development is a way to make people aware of the services and/or products you are offering.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="/img/photo.svg" alt="">
                            <h3 class="service-title">Photography</h3>
                            <p class="service-info">Photographs are the legacy you leave for generations to come.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="/img/microphone.svg" alt="">
                            <h3 class="service-title">Support</h3>
                            <p class="service-info">A support network can include a variety of forms of interaction with a range of people who can support you in different ways. </p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section>
</th:block>